.texto-borde {
  font-size: 35px;
  font-family: "Ubuntu";
  font-weight: 500;
  color: white;
}
.texto2 {
  font-size: 23px;
  font-family: "Ubuntu", cursive;
  font-weight: 200;
  color: white;
}
.texto3 {
  font-size: 17px;
  font-family: "Ubuntu", cursive;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.colornav {
  background-color: rgb(0, 0, 0, 0.7);
}
